includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - config
    stubFiles:
        - stubs/DeepCopy.stub
    tmpDir: build/phpstan
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        constant_hassers: false
        console_application_loader: tests/console-application.php
    typeAliases:
        Rule: 'string|\Symfony\Component\Validator\Constraint'
        RuleSet: 'Rule|Rule[]'
    #reportUnmatchedIgnoredErrors: false
